body {
    margin: 100px;
    background-color: rgba(255, 255, 255, 0.959);
}

#banner {
    width: 100%;
}

#exemplo { 
    width: 50%;
    text-align:right;
    margin: 50px;
}

.titulo{
    
    text-align: justify;
    color: rgb(10, 12, 39);
    font-size:60px;
    margin: 60px;
}

.titulo2{
    text-align: center;
    color: rgb(10, 12, 39);
    font-size: 90px;
    margin: 50px;
}

.titulo_centralizado{
    text-align: center;
    color: rgb(10, 12, 39);
    font-size: 150px
    
}

p {
    text-align:justify;
    color:rgb(92, 88, 88);
    margin: 50px;
    font-size: 60px
}
ol{
    text-align:justify;
    color:rgb(92, 88, 88);
    margin: 50px;
    font-size: 60px
}

strong {
    color: rgb(92, 88, 88);
    font-size: 65px;
    margin: 0px;
}

.steps{
    font-style: italic;
}

ul{
    text-align:justify;
    color:rgb(92, 88, 88);
    margin: 50px;
    font-size: 60px
}

.empirico{
    background: rgba(87, 83, 85, 0.205)
}
.sistematico{
    background: rgba(223, 35, 129, 0.082)  
}

.valorlimite{
    background: rgba(87, 83, 85, 0.205)
}

.tabeladecisao{
    background: rgba(223, 35, 129, 0.082)
}