body {

    border: 5px solid rgb(223, 35, 129);
    margin: 100px;
    background-color: rgba(1, 6, 34, 0.932);
}

#banner {
    width: 100%;
}

#exemplo1 { 
    width: 50%;
    text-align: center
}

.titulo{
    
    text-align: justify;
    color: rgb(223, 35, 129);
    font-size: 30px;
    margin: 50px;
}

.titulo2{
    text-align: center;
    color: rgb(223, 35, 129);
    font-size: 40px;
    margin: 50px;
}

.titulo_centralizado{
    text-align: center;
    color: rgb(223, 35, 129);
    font-size: 50px
}

p {
    text-align:justify;
    color:rgb(255, 255, 255);
    margin: 50px;
}
ol{
    text-align:justify;
    color:rgb(255, 255, 255);
    margin: 50px;
}

#missao {
    font-size: 20px
}

strong {
    color: rgb(223, 35, 129);
    font-size: 20px;
    margin: 0px;
}

.steps{
    font-style: italic;
}

ul{
    text-align:justify;
    color:rgb(255, 255, 255);
    margin: 50px;
}
