body {
    margin: 1%;    
} 

#exemplo { 
    width: 50%;
    text-align:right;
    margin: 50px;
    margin: 35px 0px 0px 1160px;
}

.titulo{
    text-align: justify;
    color: rgb(83, 25, 158);
    font-size: 5em;
    margin: 0 0 1em;
    font-weight: bold;
    padding: 90px 0px 0px;
}
.titulo_page{
    text-align: center;
    color: rgb(83, 25, 158);
    font-size: 9em;
    margin: 1em 0 1em;
    font-weight: bold;}

p {
    text-align:justify;
    color:rgb(92, 88, 88);
    margin: 1em 0 1em;
    font-size: 60px
}
ol{
    text-align:justify;
    color:rgb(92, 88, 88);
    margin: 50px;
    font-size: 60px
}

strong {
    text-align: center;
    color: rgb(83, 25, 158);
    font-size: 4em;
    margin: 1em 0 1em;
    font-weight: bold;
}

.steps{
    font-style: italic;
}
ul{
    text-align:justify;
    color:rgb(92, 88, 88);
    margin: 50px;
    font-size: 60px
} 

footer {
    text-align: center;
    background: url("bg.jpg");
    margin: 278px 0px 0px;
    padding: 90px 0;
    background: #6c10975e;

} 
.copyright {
	color: #FFFFFF;
	font-size: 50px;
	margin: 0px 0 0;
    padding: 0px 0px 0px 2200px;

}


nav li {
	display: inline;
	margin: 0 0 0 20px;
} 

nav a {
	text-transform: uppercase;
	color: #6b2196;
	font-weight: bold;
	font-size: 65px;
	text-decoration:none;
    margin: 20 0 0 20px;
} 

nav a:hover{
    color: #e01cc0;
} 


header {
	background: #a56fe459;
	padding: 90px 0px;
}

.menu {
	position: relative;
	width: 1460px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 150px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #6b2196;
	font-weight: bold;
	font-size: 65px;
	text-decoration:none;
    margin: 0 0 0 15px;

}

nav a:hover{
    color: #e01cc0;
}

p strong{
    font-size: 0.90em;
    font-weight: bold;
}
