.contato-radio{
    padding: 1px 0px  1px  0px ;
    color: #4a0a63;
    border: none;

} 
.dados_contato{
    font-weight: bold; 
    font-size: 2em;
    text-align: justify;
    padding: 10px 0px;
    border: none;
    color: #6b2196;
}

select{
    display: block;
	margin: 1px;
    font-size: 1em;
    color: #4a0a63;
    padding: 5px  0;
    width: 50%;
} 


form label {
    display:block;
    font-size: 1em;
    margin: 1em;    
    color: #6b2196;
} 

fieldset legend  {
    display: block;
	margin: 1em;
	padding: 0px 0px;
	width: 30%;
    color: #4a0a63;
    font-size: 1em;
}

table {
    margin: 30px 0 20px;
    font-size: 1em;

}

thead {
    background: #8645db;
    color: white;
    font-weight: bold;
    font-size: 1em;

}

td, th {
    border: 1px solid #000000;
    padding: 4px 5px;
}


 body {
    margin: 1%; 
    font-family: 'Scheherazade New', serif;   
} 


p {
    text-align:justify;
    margin: 1em 0 1em;
}
ol{
    text-align:justify;
    color:rgb(92, 88, 88);
    margin: 0px;
    font-size: 1em
}

strong {
    text-align: center;
    color: rgb(83, 25, 158);
    font-size: 1.5em;
    margin: 1em 0 1em;
    font-weight: bold;
}

ul{
    text-align:justify;
    color:rgb(92, 88, 88);
    margin: 0px;
    font-size: 1em
} 

footer {
    text-align: center;
    background: url("bg.jpg");
    background: linear-gradient(rgb(167, 88, 204), rgb(255, 255, 255), rgb(153, 0, 255) );
	margin: 0 auto;
    padding: 0 550px;
} 
.copyright {
	color: #FFFFFF;
	font-size: 1em;
    margin: 0px 290px;
} 

}

nav li {
	display: inline-block;
	margin: 50% 50%;
    text-align: center;

} 

nav a {
	text-transform: uppercase;
	color: #6b2196;
	font-weight: bold;
	font-size: 2px;
	text-decoration:none;
    margin: 0 0 0 15px;

} 

nav a:hover{
    color: #e01cc0;
} 


header {
    background: linear-gradient(rgb(167, 88, 204), rgb(213, 178, 236) );
    padding: 0;
}

.menu {
	position: relative;
	width: 400px;
	margin: 0 auto;
    font-weight: bold;
    font-size: 1.2em;
}

nav {
	position: absolute;
	top: 40px;
	right: 0;
    color: #6b2196;
}

nav li {
	display: inline;
	margin: 0 0 0 5px;
    color: #6b2196;
    
}

nav a {
	text-transform: uppercase;
	color: #6b2196;
	font-weight: bold;
	font-size: 1em;
	text-decoration:none;
    margin: 0 0 0 15px;
}

nav a:hover{
    color: #e01cc0;
}


 main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 1em 0;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.botton{
	width:40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.botton:hover {
	background: darkorange;
	transform: scale(1.2);
    
} 