/* body { */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */}  

h1{
    text-align: center;
}

main{
    padding: 3em
}

.empirico,.particao_equivalencia, .valor_limite, .tabeladecisao, .video 
{
    padding: 1em;
}



.titulo, .titulo1{
    text-align: justify;
    color: rgb(83, 25, 158);
    font-size: 1em;
    margin: 0 0 0.5em;
    font-weight: bold;
    padding: 0.5em
}



.titulo:before
{
    content: "❄";
}
.titulo_page{
    color: rgb(83, 25, 158);
    font-weight: bold;
    text-align: center;
	font-size: 3em;
	margin: 0 0 1em;
	clear: left;
    margin: 0.5em 0 0.5em;
}

p {
    text-align:justify;
    color:rgb(92, 88, 88);
    margin: 0.5em 0 0.5em;
    font-size: 1em;
    padding: 1,2em

}
ol{
    text-align:justify;
    color:rgb(92, 88, 88);
    margin: 0px;
    font-size: 1em
}

strong {
    text-align: center;
    color: rgb(83, 25, 158);
    font-size: 1.5em;
    margin: 0.5em 0 0.5em;
    font-weight: bold;
}

.steps{
    font-style: italic;
}

ul{
    text-align:justify;
    color:rgb(92, 88, 88);
    margin: 0px; 
    font-size: 1em;
    padding: 1,2em
} 

footer {
    text-align: center;
    background: url("bg.jpg");
    background: linear-gradient(rgb(167, 88, 204), rgb(255, 255, 255), rgb(153, 0, 255) );
	margin: 0 auto;
} 

nav li {
	display: inline;
	margin: 0 0 0 0px;
}  

nav a {
	text-transform: uppercase;
	color: #6b2196;
	font-weight: bold;
	font-size: 1px;
	text-decoration:none;
    margin: 0 0 0 15px; 
} 

nav a:hover{
    color: #e01cc0;
} 


header {
    background: linear-gradient(rgb(167, 88, 204), rgb(213, 178, 236) );
}


.menu {
	position: relative;
	width: 500px; 
	margin: 0 auto;
    font-weight: bold;
    font-size: 1.5em;
} 

.tipos{
    width: 50%;
	float:right
    /* display: inline-block; */
    /* vertical-align: top; */
}

.lista_tipos{
    width: 30%;
	display: inline-block;
	/* vertical-align: top; */

}

nav {
	position: absolute;
	top: 40px;
	right: 0; 
} 

nav li {
	display: inline;
	margin: 0 0 0 5px;
    font-weight: bold;

}

nav a {
	text-transform: uppercase;
	color: #6b2196;
	font-weight: bold;
	font-size: 1em;
	text-decoration:none;
    margin: 0 0 0 15px;
}

nav a:hover{
    color: #e01cc0;
}

strong p {
    font-size: 1em;
    font-weight: bold;
    text-align: justify;
}


.video {
    padding: 2em;
    opacity: 1;
    transition:400ms;
    width: 569px;

}
    

.video:hover {
    opacity: 0.3;
} 

@media(max-width: 480px) {
    .menu, .steps, .titulo, .titulo1, .titulo_page{
        width:auto;
    }

    

    nav{
        position: static;
    }
}

.imge { 
    /* padding: 2em; */
    width: 40%;
	float:initial;
    vertical-align: top; 



}



